.device-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.device-button {
    background-color: #6a6a6a;
    /* Primary color */
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    height: 100px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, background-color 0.2s ease;
}

.offline-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}



.device-button:active {
    transform: scale(0.9);
    /* Scale up when active */
    background-color: #6a6a6a;
    /* Primary color */
}

.device-online {
    width: 10px;
    height: 10px;
    background: #08d708;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;

}
.device-offline {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;

}