/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;

}

.app {
  text-align: center;
  padding: 20px;
  height: 100vh;
  max-width: 100%; /* Limit width for mobile */
  /* margin: auto; Center the app */
  background: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}



.device-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons */
}

@media (min-width: 600px) {
  .app {
      max-width: 600px; /* Adjust for larger screens */
  }
}
